.container{
    width: 1300px;
    margin: 0 auto;
}

.center{
    display: flex;
    justify-content: center;
}

.pb-1{
    padding-bottom: 1rem;
}

.form-label{
    display: block;
    color: white;
}

.form-text{
    width: 100%;
}

.form-err{
    color:$error-color-light;
    margin-top: 5px;
    font-size: 12px;
}

.form-invalid{
    border: 1px solid $error-color-light;
    border-radius: 3px;
}
//beceuse I'm pirla
.pagination{
    .page-item{
        display: inline-block;
        padding: 7px;
        .page-link{
            font-size: 20px;
            font-weight: 600;
            &:hover{
                color: white;
            }
        }
    }
}

.message{
    width: 100%;
    color: white;
    padding: 10px 20px;
    background-color: $primary-color-dark;
    &.error{
        background-color: $error-color-light;
    }
}

